asgiref==3.3.4
astroid==2.5.3
autopep8==1.5.6
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
cymem==2.0.5
Django==3.2
django-cors-headers==3.7.0
django-debug-toolbar==3.2.1
django-utils-six==2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
flake8==3.9.1
idna==2.10
isort==5.8.0
Jinja2==2.11.3
joblib==1.0.1
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
murmurhash==1.0.5
nltk==3.6.2
numpy==1.20.3
packaging==20.9
pathy==0.5.2
Pillow==8.2.0
preshed==3.0.5
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.7.0
pydantic==1.7.4
pyflakes==2.3.1
pylint==2.7.4
pylint-django==2.4.3
pylint-plugin-utils==0.6
pyparsing==2.4.7
pytz==2021.1
regex==2021.4.4
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
sqlparse==0.4.1
srsly==2.4.1
thinc==8.0.3
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.61.0
typer==0.3.2
urllib3==1.26.5
wasabi==0.8.2
wrapt==1.12.1
