{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar navbar-light bg-warning sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'img/logo.svg' %}" class="logo" alt="" >
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li {% if '' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                 {% if user.is_authenticated %}
                <li {% if 'about' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class=" nav-link " href="{% url 'create_post' %}">Create Post</a>
                </li>
                <li {% if 'listings' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class="nav-link " href="{% url 'friend_list' %}">My Network</a>
                </li>
                 <li {% if 'listings' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class="nav-link " href="{% url 'my_invites_view' %}">My Invites</a>
                </li>
                <li {% if 'listings' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class="nav-link " href="{% url 'all_profile' %}">All profiles</a>
                </li>
                <li {% if 'listings' in request.path %} class="nav-item active mr-3" {% else %}class="nav-item mr-3" {% endif %}>
                    <a class="nav-link " href="{% url 'friend_list' %}">Friends</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto ">
                <li class="nav-item mr-3 ">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link text-black font-weight-bold" href="{% url 'my_profile' %}">Welcome {{ user.username }}</a> {% else %}
                    <a class="nav-link text-black font-weight-bold" href="{% url 'register' %}">Register</a> {% endif %}
                </li>
                <li class="nav-item mr-3 ">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link text-black font-weight-bold" href="{% url 'logout' %}">Logout</a> {% else %}
                    <a class="nav-link text-black font-weight-bold" href="{% url 'login' %}">Login</a> {% endif %}



                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>